
html, body {
    color: #fff;
    height: 100%;
    background-color: #a0a0a0; 
    width: 100%;
    font-family: 'VT323', monospace !important;
    color :#fff !important;
}

.nav {
    margin-top: 2.5%;
}

.links {
    font-style: normal;
    color :#fff;
    text-decoration: none;
}

.site {
    height: 100%;
    background-color: #a0a0a0;
}
.page {
    background-color: #a0a0a0;
    height: 100%;
}

.links:hover {
    color: #ad2929;
}
.navbarsizer {
    text-align: right;
}

.banner {
    width: 512px;
    height: 212px;
}
.navbar {
    text-align: right;
}
.navigation {
    margin-right: 5%
}
.pageHeading {
    width: 100%;
    padding-top: 35px !important;
    padding-right: 25px !important;
    padding-bottom: 35px !important;
    padding-left: 25px !important;
}
.branding:hover {
    color: #fff;
}
.footer {
    background-color: #6df995;
    width: 60%;
    float: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 12px;
}
.Bcolor {
    background-color: #ad2929!important;
}
.page-title {
    color:#fcfffd;
}

.pt {
    padding-top: 5%;
}
.imgMe {
    width: 125px;
}